<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kg.tutorialapp.weather">

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_launcher_2"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_2_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Weather">
        <activity android:name=".Lesson30"></activity>
        <activity android:name=".Lesson29" />
        <activity android:name=".Lesson28" />
        <activity android:name=".ExamplesFromLesson26">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity2" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>